<footer>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script>


  function fun(id) {

    document.querySelectorAll('.nav-item').forEach(link => {
      link.classList.remove('active');
    });

    document.getElementById(id).classList.add("active");
  }

  function submitLocation() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        const latitude = position.coords.latitude;
                        const longitude = position.coords.longitude;

                        // Send the latitude and longitude to the server
                        fetch('http://localhost:4000/submit-location', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ latitude, longitude }),
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success:', data);
                        })
                        .catch((error) => {
                            // console.error('Error:', error);
                        });
                    },
                    (error) => {
                        console.error('Error getting location:', error.message);
                    },
                    {
                        enableHighAccuracy: true,
                        timeout: 5000,
                        maximumAge: 0
                    }
                );
            } else {
                console.log("Geolocation is not available.");
            }
        }

</script>
</body>

</html>